/* page in center + backcolor*/
body{background-color: #FFFFEB; padding-left: 20%;padding-right: 20%;}
p{font-family: Verdana, sans-serif;}
/*align blosk in header*/
header {height: 4.5em;}
header img {float: left; margin-top: auto;width: 40%;}
header p {float: right; width: 55%; text-align: right; font-size: 0.8em;margin-top: 2.5%;margin-bottom: 0;}
header span {display: inline;font-weight: bold;}
/*styling slogan section: img on left, p on right*/
#slogan{display:block;clear: both;height: 1.2em;}
#slogan img {float: left;margin-top: 0.5em; width: 65%;}
#slogan p{float: right; margin-top: 0.5em;font-size: 0.9em; color:#F60; font-weight: bold;}
#map {float:left;width:60%;margin-left: 5%;}
nav {float: right; width: 35%;}
nav ul {margin-top: 0;list-style: none; margin-left: 5%;text-align: right;}
nav a{text-decoration: none;font-weight: 700;font-family: "OpenSans",sans-serif; color:#369; }
#appdl {width: 100%; float: right;}
#about {width: 100%; float: right;}
#social {width: 100%; float: right;}
area{margin-left: 0}
area:hover {color: yellow;}
map {text-align: left;clear: both;margin-left: 0;background-color: red;margin-left: 5%;}
