/* page in center + backcolor*/
body{background-color: #FFFFEB; width: 800px; margin:auto;}
p{font-family: Verdana, sans-serif;}
/*align blosk in header*/
header {height: 4.5em;}
header img {float: left; margin-top: auto;width: 40%;}
header p {float: right; width: 55%; text-align: right; font-size: 0.8em;margin-top: 2.5%;margin-bottom: 0;}
header span {display: inline;font-weight: bold;}
/*styling slogan section: img on left, p on right*/
#slogan{display:block;position: relative;clear: both;height: 1.2em;}
#slogan img {float: left;margin-top: 0.5em; width: 65%;}
#slogan p{float: right; margin-top: 0.5em;font-size: 0.9em; color:#F60; font-weight: bold;}
/*bouton deposit an announce and onhover changing*/
aside{position:absolute;margin-top: 0;}
#onhover{display:none;}
#depose:hover a[id="initial"] {display:none;}
#depose:hover a[id="onhover"] {display:block;}
/* article block: France Map clickable and navigation at right*/
#map {float:left;width:60%;margin-left: 5%;margin-top: 2%;}
nav {float: right; width: 35%;}
nav ul {margin-top: 0;margin-left:0;list-style: none; margin-left: 5%;text-align: right;}
nav ul a:hover{text-decoration: underline; }
nav a{text-decoration: none;font-size: 0.8em;font-weight: 700;font-family: "OpenSans",sans-serif; color:#369; }
map {text-align: left;clear: both;margin-left: 0;background-color: red;margin-left: 5%;}
/*app block, align clickable images on right*/
#appdl {width: 100%; clear: both;text-align: right;}
#appdl a{text-decoration: none;}
/* social network block: alig right*/
#social {display: inline-block;width: 100%; text-align: right;margin-top: 1%;}
#social p{display: inline;}
#social a{text-decoration: none;}
/* 3 last block in little font:*/
#about, footer, #international { font-size: 0.6em;color: #666; font-family: "OpenSans",sans-serif;}
#about a, footer a, #international a{color: #369; text-decoration: none;}
#about p, footer p, #international p{text-align: center;}
/*about block center*/
#about {display: inline;width: 100%;}
#about p {text-align: center;}
footer a{text-align: center; margin-right: 1%;}
footer p{color:red;}
#international p{display: inline; margin-bottom: 0;text-align: center;}
#international a{margin-right: 1%;}
#international {text-align: center;margin-top: 1%;}
footer {border-top: 1px solid #666;border-bottom: 1px solid #666;}

/*media queries between 800px 500px*/
@media all and (max-device-width: 800px) {
  body {width:auto;margin: 0;}
  header {height: auto;}
  header img {float:none;display:block; margin: auto;margin-top: 2%;}
  header p {float:none;display: block; width: 80%; margin: auto;text-align: center;}
  #slogan img {display: none;}
  #slogan p {display:block;float:none; margin: auto;text-align: center;}
  #map {position:inherit;float: none;width:100%; text-align: center;margin-left: 0;}
  #map img; #map map {width: 80%; margin:auto;}
  nav {float: none; display: block; width: 95%; margin:auto;}
  nav ul{ display: flex;flex-direction: row; flex-wrap: wrap;justify-content: space-around;align-content: space-between;padding-left: 0; margin-left: 0;text-align: center;margin-top: 4%;}
  nav ul li {margin: 4% 3%;border: 1px solid #666;}
  nav a{font-size: 1em;}
  #social{float: none; display:block; margin: auto;text-align: center;}
  #appdl{float: none; display:block; margin: auto; text-align: center;}
  footer, #about , #international {display: block;width:auto; font-size: 1em;padding-left: 3%; padding-right: 3%;}

  /*media queries for screen-width under 350px*/
@media all and (max-device-width: 350px) {
    body {width:auto;margin: 0;}
    header {height: auto;}
    header img {float:none;display:block; margin: auto;margin-top: 2%;}
    header p {float:none;display: block; width: 80%; margin: auto;text-align: center;font-size: 1em;}
    #slogan {display: none;}
    aside {display: block; margin:auto;float:none;position: inherit;}
    #depose img {display:block; margin: auto; width: 30%;}
    #map {display: none;}
    nav {float: none; display: block; width: 95%; margin:auto;}
    nav ul{ display: block;margin: auto;}
    nav ul li {display: block; margin: auto; border: none;margin-bottom: 1%;}
    nav a{font-size: 1.5em;}
    #appdl{float: none; display:inline-block; width: 49%;margin: auto; text-align: center;}
    #appdl img {width: auto;}
    #social{float: none; display:inline-block; width: 49%;margin: auto;text-align: center;}
    #social img{ width: auto;}
    footer, #about , #international {display: block;width:auto; font-size: 1em;padding-left: 3%; padding-right: 3%;}
  }
