/* page in center + backcolor*/
body{background-color: #FFFFEB; width: 800px; margin:auto;}
p{font-family: Verdana, sans-serif;}
/*align blosk in header*/
header {height: 4.5em;}
header img {float: left; margin-top: auto;width: 40%;}
header p {float: right; width: 55%; text-align: right; font-size: 0.8em;margin-top: 2.5%;margin-bottom: 0;}
header span {display: inline;font-weight: bold;}
/*styling slogan section: img on left, p on right*/
#slogan{display:block;position: relative;clear: both;height: 1.2em;}
#slogan img {float: left;margin-top: 0.5em; width: 65%;}
#slogan p{float: right; margin-top: 0.5em;font-size: 0.9em; color:#F60; font-weight: bold;}
/*bouton deposer une annonce et animation onhover*/
aside{position:absolute;margin-top: 0;}
#onhover{display:none;}
#depose:hover a[id="initial"] {display:none;}
#depose:hover a[id="onhover"] {display:block;}
/* bloc article: carte de france cliquable et menu à droite*/
#map {float:left;width:60%;margin-left: 5%;margin-top: 2%;}
nav {float: right; width: 35%;}
nav ul {margin-top: 0;margin-left:0;list-style: none; margin-left: 5%;text-align: right;}
nav ul a:hover{text-decoration: underline; }
nav a{text-decoration: none;font-size: 0.8em;font-weight: 700;font-family: "OpenSans",sans-serif; color:#369; }
map {text-align: left;clear: both;margin-left: 0;background-color: red;margin-left: 5%;}
/*bloc applications, alignement des image cliquable à droite*/
#appdl {width: 100%; clear: both;text-align: right;}
#appdl a{text-decoration: none;}
/* bloc réseau sociaux: alligné, à droite*/
#social {display: inline-block;width: 100%; text-align: right;margin-top: 1%;}
#social p{display: inline;}
#social a{text-decoration: none;}
/* trois prochains blocs en petit:*/
#about, footer, #international { font-size: 0.6em;color: #666; font-family: "OpenSans",sans-serif;}
#about a, footer a, #international a{color: #369; text-decoration: none;}
#about p, footer p, #international p{text-align: center;}
/*bloc about centré*/
#about {display: inline;width: 100%;}
#about p {text-align: center;}
footer a{text-align: center; margin-right: 1%;}
footer p{color:red;}
#international p{display: inline; margin-bottom: 0;text-align: center;}
#international a{margin-right: 1%;}
#international {text-align: center;margin-top: 1%;}
footer {border-top: 1px solid #666;border-bottom: 1px solid #666;}

@media all and (max-device-width: 800px) {
  body {width:auto;margin: 0;}
  header {height: auto;}
  header img {float:none;display:block; margin: auto;}
  header p {float:none;display: block; width: 80%; margin: auto;text-align: center;}
  #slogan img {display: none;}
  #slogan p {display:block;float:none; margin: auto;text-align: center;}
  #map {position:inherit;float: none;width:100%; text-align: center;}
  nav {float: none; display: block; width: 95%; margin:auto;}
  nav ul{ padding-left: 0; margin-left: 0;text-align: center;}
  nav li{ margin: auto;display: inline-block;}
}
